.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.card-body {
  position: relative;
  z-index: 2;
}

.agotado-banner {
  background-color: rgba(255, 94, 19, 1);
  border-radius: 5px;
  padding: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}