<div class="container my-4">
  <h1 class="text-center mb-4">Contacto</h1>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="contact.name" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contact.email" required />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" name="message" rows="3" [(ngModel)]="contact.message"
        required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Enviar</button>
  </form>
</div>